<!-- Getting date from file name -->
{% assign digest_date = page.name | remove: ".md" %}

<!-- Making sure filename and page title match -->
{% capture file_string %}IAIFI Digest: Week of {{digest_date | date: "%B %e, %Y" | replace: "  ", " " }}{% endcapture %}
{% capture title_string %}{{page.title}}{% endcapture %}
{% if file_string != title_string %}**ERROR:  File name and title do not match: {{file_string}} vs. {{title_string}}**{% break %}{% endif %}

<!-- Making sure this is the right day of the week -->
{% assign day_of_the_week = digest_date | date: "%A" %}
{% assign desired_day_of_the_week = 'Monday' %}
{% if day_of_the_week != desired_day_of_the_week %}**ERROR:  Day of the week is not correct:  {{day_of_the_week}} vs. {{desired_day_of_the_week}}**{% break %}{% endif %}

<!-- Header with link and logo -->
<div align="center"  markdown="1">
   [Display IAIFI Digest in Your Browser](https://iaifi.org/digest/{{digest_date}}){:.button.button--xs}
</div>
<img src="https://iaifi.org/images/iaifi-pressimage-horizontalcrop-smaller.jpg" align="center" style="max-width:3600px;width:100%">
  
<!-- Top navigation buttons, including an automation to determine if there is a research highlight and to include a button if so. -->
{% assign one_day_in_seconds = 1.0 | times: 60 | times: 60 | times: 24 %}
{% assign week_duration_in_seconds = 7 | times: 60 | times: 60 | times: 24 %}
{% assign digest_start_in_seconds = digest_date | date: "%s" | plus: 0 %}
{% assign digest_end_in_seconds = digest_start_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_next_in_seconds = digest_end_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_past_in_seconds = digest_start_in_seconds | minus: week_duration_in_seconds %}
{% assign two_weeks = week_duration_in_seconds | times: 2 %}
{% assign two_weeks_ago = digest_start_in_seconds | minus: two_weeks %}

{% assign highlight_exists = 0 %}
{% assign highlights = site.data.research-highlights | sort: "date-added" | reverse %}
{% for highlight in highlights %}
    {% assign highlight-date = highlight.date-added | date: '%s' | plus: 0 %}
    {% unless highlight-date < digest_start_in_seconds and highlight-date >= two_weeks_ago%}{% continue %}{% endunless %}
    {% assign highlight-exists = 1 %}
    {% break %}
{% endfor %}

# {{title_string}}

{% if highlight-exists ==1 %}
[Events](#iaifi-events-calendar){:.button.button--outline-primary.button--pill.button--sm}
[Research Highlight](#monthly-research-highlight){:.button.button--outline-primary.button--pill.button--sm}
[Research Papers](#iaifi-research){:.button.button--outline-primary.button--pill.button--sm}
[New Job Opportunities](#new-job-opportunities){:.button.button--outline-primary.button--pill.button--sm}
[New Funding](#new-funding-opportunities){:.button.button--outline-primary.button--pill.button--sm}
[IAIFI README](https://docs.google.com/document/d/1RjddJR6ER4mlXq438C5RkAIv-ZisUPwibTm52-2o_Yw/edit?usp=sharing){:.button.button--outline-primary.button--pill.button--sm}
{% elsif highlight-exists == 0 %}
[Events](#iaifi-events-calendar){:.button.button--outline-primary.button--pill.button--sm}
[Research](#iaifi-research){:.button.button--outline-primary.button--pill.button--sm}
[New Job Opportunities](#new-job-opportunities){:.button.button--outline-primary.button--pill.button--sm}
[New Funding](#new-funding-opportunities){:.button.button--outline-primary.button--pill.button--sm}
[IAIFI README](https://docs.google.com/document/d/1RjddJR6ER4mlXq438C5RkAIv-ZisUPwibTm52-2o_Yw/edit?usp=sharing){:.button.button--outline-primary.button--pill.button--sm}
{% endif %}
