<!-- Defining times -->
{% assign one_day_in_seconds = 1.0 | times: 60 | times: 60 | times: 24 %}
{% assign week_duration_in_seconds = 7 | times: 60 | times: 60 | times: 24 %}
{% assign digest_start_in_seconds = digest_date | date: "%s" | plus: 0 %}
{% assign digest_end_in_seconds = digest_start_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_next_in_seconds = digest_end_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_past_in_seconds = digest_start_in_seconds | minus: week_duration_in_seconds %}


<!-- Getting all events and sorting them by time -->
{% assign event_list = '' | split: '' %}
{% for event_type in site.data.calendar.event_types %}
{% assign event_list = event_list | concat: site.data[event_type] %}
{% endfor %}
{% assign event_list = event_list| sort: "start-date-time" %}


<!-- Calendar -->
## IAIFI Events Calendar

<div class="hide_on_desktop" markdown="1">
  Calendar view is hidden on narrow screens.  [Click here](https://iaifi.org/digest/{{digest_date}}#iaifi-events-calendar) to view on a web browser.
</div>

<div class="hide_on_mobile">
  Click on the calendar items to see event details.<br><br>
  
  <!-- Creating calendar grid -->
  <div class="grid-container">
    <div class="grid grid--p-1">
      {% for column in site.data.calendar.columns %}
      <div class="cell cell--{{column.column_width}}" align="center">
        <b><i>{{column.name}}</i></b>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  {% assign day_counter = 0 %}
  {% for i in (1..2) %}
  <div class="grid-container">
    <div class="grid grid--p-1">
      {% for column in site.data.calendar.columns %}
      <div class="cell cell--{{column.column_width}}" align="center">
        {% assign day_counter_in_seconds = day_counter | times: 60 | times: 60 | times: 24 %}
        {% assign this_day_start_in_seconds = digest_start_in_seconds | plus: day_counter_in_seconds %}
        {% assign day_duration_in_seconds = column.day_span | times: 60 | times: 60 | times: 24 %}
        {% assign this_day_end_in_seconds = this_day_start_in_seconds | plus: day_duration_in_seconds | minus: 1 %}
        
        <b>
          {% if column.name == "Monday" %}{{this_day_start_in_seconds | date: "%b %e"}}
          {% elsif column.name == "Sat/Sun" %}{{this_day_start_in_seconds | date: "%b %e"}}/{{this_day_end_in_seconds | date: "%b %e"}}
          {% else %}{{this_day_start_in_seconds | date: "%b %e"}}
          {% endif %}
        </b><br><br>
        
        
        {% for event in event_list %}
        {% assign start_date_time_in_seconds = event.start-date-time | date: "%s" | times: 1 %}
        {% assign end_date_time_in_seconds = event.end-date-time | date: "%s" | times: 1 %}
        {% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
        
        {% if this_day_start_in_seconds <= start_date_time_in_seconds and start_date_time_in_seconds < this_day_end_in_seconds %}
          <a class="button {{site.data.talk-categories[event.type].button_type}} button--rounded button--sm" href="#{{this_anchor}}">
          <!--<i>{{start_date_time_in_seconds | date: "%b %e, %Y"}}</i><br>-->
          <i>{{start_date_time_in_seconds | date: "%l:%M%P" | strip}}-{{end_date_time_in_seconds | date: "%l:%M%P" | strip}}</i><br>
          <i>{{event.talk-location}}</i><br><br>
          
          {% if event.type %}{% unless site.data.talk-categories[event.type].hide_category_on_button %}{{site.data.talk-categories[event.type].name}}: {% endunless %}{% endif %}
          {% if event.speaker-name %}{{event.speaker-name}}{% elsif event.talk-title %}{{event.talk-title}}{% endif %}
          {% if event.event-name %}{{event.event-name}}{% endif %}
          </a>
          <br><br>
          {% endif %}
          {% endfor %}
          
          {% assign day_counter = day_counter | plus: column.day_span %}
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  {% endfor %}
  
</div>

[View full IAIFI Events Calendar](https://iaifi.org/events-calendar.html){:.button.button--outline-primary.button--pill.button--sm}


<!-- This week -->
## Events This Week

If you have any accessibility needs, please reach out to [iaifi-accessibility@mit.edu](mailto:iaifi-accessibility@mit.edu).

{% assign events_this_week = '' %}
{% for talk in event_list %}
 {% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless start_date_time_in_seconds >= digest_start_in_seconds and start_date_time_in_seconds < digest_end_in_seconds %}{% continue %}{% endunless %}
  {% assign events_this_week = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_this_week=true anchor=this_anchor %}
{% endfor %}

{% if events_this_week == '' %} *No events this week.* {% endif %}

<!-- Next week -->
## Events Next Week

{% assign events_next_week = '' %}
{% for talk in event_list %}
{% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless start_date_time_in_seconds >= digest_end_in_seconds and start_date_time_in_seconds < digest_next_in_seconds%}{% continue %}{% endunless %}
 {% assign events_next_week = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_next_week=true anchor=this_anchor %}
{% endfor %}

{% if events_next_week == '' %} *No events next week.* {% endif %}

<!-- Events in the future we want to advertise -->
## Upcoming IAIFI Events
Save the date and RSVP/register for these upcoming IAIFI events!

{% assign events_upcoming = '' %}
{% for talk in event_list %}
{% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% assign post_date_time_in_seconds = talk.event-post-date | date: '%s' | plus: 0 %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless post_date_time_in_seconds < digest_start_in_seconds and start_date_time_in_seconds > digest_next_in_seconds and site.data.talk-categories[talk.type].category=='internal' and talk.priority == 'high' %}{% continue %}{% endunless %}
  {% assign events_upcoming = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_upcoming=true anchor=this_anchor %}
{% endfor %}

{% if events_upcoming == '' %} *No future events to share this week.* {% endif %}

## Other Future Events
Save the date for these events (and check to see if you need to register)!

### New Events
{% assign events_future = '' %}
{% for talk in event_list %}
{% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% assign post_date_time_in_seconds = talk.event-post-date | date: '%s' | plus: 0 %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless post_date_time_in_seconds < digest_start_in_seconds and post_date_time_in_seconds > digest_past_in_seconds and start_date_time_in_seconds > digest_next_in_seconds and site.data.talk-categories[talk.type].category=='external'%}{% continue %}{% endunless %}
  {% assign events_future = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_future=true anchor=this_anchor %}
{% endfor %}

{% if events_future == '' %} *No future events to share this week.* {% endif %}

### Imminent Registration Deadlines
{% assign events_deadlines = '' %}
{% for talk in event_list %}
{% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% assign registration_date_time_in_seconds = talk.registration-deadline | date: '%s' | plus: 0 %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless registration_date_time_in_seconds >= digest_start_in_seconds and registration_date_time_in_seconds < digest_end_in_seconds and start_date_time_in_seconds >= digest_start_in_seconds and site.data.talk-categories[talk.type].category=='external'%}{% continue %}{% endunless %}
  {% assign events_deadlines = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_future=true anchor=this_anchor %}
{% endfor %}

{% if events_deadlines == '' %} *No imminent registration deadlines this week.* {% endif %}

<!-- Past Events -->
## In Case You Missed It
### Seminar by Former IAIFI Fellow Jessie Micallef (Tufts/MIT/IAIFI)
Last week, Jessie Micallef (former IAIFI Fellow, current Postdoctoral Scholar at Tufts University and IAIFI Junior Investigator) gave a seminar at CERN: "MicroBooNE’s Search for a Single Sterile Neutrino using Two Beams." Check it out at the links below!
<br>[Learn More](https://indico.cern.ch/event/1638777/){:.button.button--outline-primary.button--pill.button--sm} [View Recording](https://videos.cern.ch/record/3020538){:.button.button--outline-primary.button--pill.button--sm}

{% assign events_last_week = '' %}
{% for talk in event_list %}
{% capture this_anchor %}event_{{forloop.index}}{% endcapture %}
 {% if site.data.talk-categories[talk.type].hide_on_past or site.data.talk-categories[talk.type].category=="external" -%}{% continue %}{% endif %}
 {% assign start_date_time_in_seconds = talk.start-date-time | date: '%s' | plus: 0 %}
 {% unless start_date_time_in_seconds < digest_start_in_seconds and start_date_time_in_seconds >= digest_past_in_seconds%}{% continue %}{% endunless %}
  {% assign events_last_week = 'true' %} <!-- Mark that there is at least one event -->
 {% include_relative digest_event_item.html talk=talk is_last_week=true anchor=this_anchor %}
{% endfor %}

{% if events_last_week == '' %} *No past events to share.* {% endif %}
