<!-- Papers -->
{% assign one_day_in_seconds = 1.0 | times: 60 | times: 60 | times: 24 %}
{% assign week_duration_in_seconds = 7 | times: 60 | times: 60 | times: 24 %}
{% assign digest_start_in_seconds = digest_date | date: "%s" | plus: 0 %}
{% assign digest_end_in_seconds = digest_start_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_next_in_seconds = digest_end_in_seconds | plus: week_duration_in_seconds %}
{% assign digest_past_in_seconds = digest_start_in_seconds | minus: week_duration_in_seconds %}

## IAIFI Research
[Report IAIFI Product](https://app.smartsheet.com/b/form/fa6d56eb2dec4b5993cd23ac99d910a7){:.button.button--outline-primary.button--pill.button--sm} [See All Papers](https://iaifi.org/papers.html){:.button.button--outline-primary.button--pill.button--sm} [See All Monthly Research Highlights](https://iaifi.org/research.html#monthly-research-highlights){:.button.button--outline-primary.button--pill.button--sm}

{% assign highlights = site.data.research-highlights | sort: "date-added" | reverse %}
{% for highlight in highlights %}
{% assign highlight-date = highlight.date-added | date: '%s' | plus: 0 %}
{% unless highlight-date < digest_start_in_seconds and highlight-date >= digest_past_in_seconds%}{% continue %}{% endunless %}
### Monthly Research Highlight
***[{{highlight.title}}](https://iaifi.org/research.html#monthly-research-highlights)***<br>
{{highlight.authors}}<br><br>
<a href="https://iaifi.org/research.html#monthly-research-highlights" target="_blank">
    <img src="https://iaifi.org/images/{{highlight.exported-jpeg}}" align="center" style="max-width:3600px;width:100%">
</a>
{% endfor %}

{% assign products = site.data.products | sort | reverse %}
{% assign new_papers = false %}

### Research Papers
{% for product in products %}
{% assign paper = product %}
{% assign paper-date = paper.date-updated | date: '%s' | plus: 0 %}
{% unless paper-date < digest_start_in_seconds and paper-date >= digest_past_in_seconds%}{% continue %}{% endunless %}
{% if paper.type == "paper" %}
{% assign new_papers = true %}
***[{{paper.title}}](https://arxiv.org/abs/{{paper.arxiv}})*** <br>
{{paper.authors}} <br>
{% endif %}
{% endfor %}


{% unless new_papers %}*No new IAIFI papers this week.*{% endunless %}



