<!-- Getting basic event info -->
{% assign talk = include.talk %}
{% assign is_this_week = include.is_this_week %}
{% assign is_next_week = include.is_next_week %}
{% assign is_last_week = include.is_last_week %}

<!-- Determining zoom link-->
{% assign zoom_link = ''%}
{% if talk.talk-zoom %}
  {% assign zoom_link = talk.talk-zoom %}
{% elsif site.data.talk-categories[talk.type].zoom %}
  {% assign zoom_link = site.data.talk-categories[talk.type].zoom %}
{% endif %}

<!-- Event information -->
{% if is_this_week %}
### This {{talk.start-date-time | date: "%A"}} at {{talk.start-date-time | date: "%l:%M%P"}}:  {{site.data.talk-categories[talk.type].name}}  {#{{include.anchor}}}
{% elsif is_next_week %}
### Next {{talk.start-date-time | date: "%A"}}:  {{site.data.talk-categories[talk.type].name}}  {#{{include.anchor}}}
{% elsif is_last_week %}
### {{site.data.talk-categories[talk.type].name}}  {#{{include.anchor}}}
{% endif %}

<!-- I am removing {{talk.speaker-title}}, since this came up when talking to some junior people.-->

{%- if talk.speaker-name %}
  * **<a href="{{talk.speaker-website}}">{{talk.speaker-name}}</a> ({{talk.speaker-affiliation}})**
{%- endif -%}
{%- if talk.event-name %}
  * **{{talk.event-name}}**
{%- endif -%}
{%- if talk.talk-title %}
  * **{{talk.talk-title}}**
{%- endif -%}
{%- if is_this_week or is_next_week %}
  * **{{talk.start-date-time | date: "%A, %B %e, %Y"}}**, **{{talk.start-date-time | date: "%l:%M%P" | strip}}–{{talk.end-date-time | date: "%l:%M%P" | strip}}**, **{{talk.talk-location}}**
{%- endif -%}
{%- if talk.talk-abstract and (is_this_week or is_next_week) %}
  * Abstract:  *{{talk.talk-abstract}}*
{%- endif -%}
{%- if talk.event-details %}
  * {{talk.event-details}}
{%- endif -%}
<br>
{%- if is_this_week or is_next_week %}
  {% if zoom_link %}[Join on Zoom]({{zoom_link}}){% endif %}{:.button.button--outline-primary.button--pill.button--sm} [Add to Calendar]({{talk.calendar-link}}){:.button.button--outline-primary.button--pill.button--sm}
{%- endif -%}
{%- if is_last_week and (talk.slides-link or youtube-link) %}
  {% if talk.slides-link %}[Talk Slides]({{talk.slides-link}}){:.button.button--outline-primary.button--pill.button--sm}{% endif %} {% if talk.youtube-link %}[YouTube Recording]({{talk.youtube-link}}){:.button.button--outline-primary.button--pill.button--sm}{% endif %}
{%- endif -%}
