<!-- Getting date from file name -->
{% assign digest_date = page.name | remove: ".md" %}

<!-- Making sure filename and page title match -->
{% capture file_string %}IAIFI Digest: Week of {{digest_date | date: "%B %e, %Y" | replace: "  ", " " }}{% endcapture %}
{% capture title_string %}{{page.title}}{% endcapture %}
{% if file_string != title_string %}**ERROR:  File name and title do not match: {{file_string}} vs. {{title_string}}**{% break %}{% endif %}

<!-- Making sure this is the right day of the week -->
{% assign day_of_the_week = digest_date | date: "%A" %}
{% assign desired_day_of_the_week = 'Monday' %}
{% if day_of_the_week != desired_day_of_the_week %}**ERROR:  Day of the week is not correct:  {{day_of_the_week}} vs. {{desired_day_of_the_week}}**{% break %}{% endif %}

<!-- Header with link and logo -->
<div align="center"  markdown="1">
   [Display IAIFI Digest in Your Browser](https://iaifi.org/digest/{{digest_date}}){:.button.button--xs}
</div>
<img src="https://iaifi.org/images/iaifi-pressimage-horizontalcrop-smaller.jpg" align="center" style="max-width:3600px;width:100%">

<!-- Top navigation buttons -->
# {{title_string}}

[Events](#iaifi-events-calendar){:.button.button--outline-primary.button--pill.button--sm}
[New Papers](#new-papers){:.button.button--outline-primary.button--pill.button--sm}
[New Funding](#new-funding){:.button.button--outline-primary.button--pill.button--sm}
[New Job Opportunities](#new-job-opportunities){:.button.button--outline-primary.button--pill.button--sm}
