<!-- Job Opportunities -->
{% assign one_day_in_seconds = 1.0 | times: 60 | times: 60 | times: 24 %}
{% assign week_duration_in_seconds = 7 | times: 60 | times: 60 | times: 24 %}
{% assign digest_start_in_seconds = digest_date | date: "%s" | plus: 0 %}
{% assign lookback_time_in_seconds = digest_start_in_seconds | minus: week_duration_in_seconds %}

## New [Job Opportunities](https://iaifi.org/job-board.html)
 
{% assign jobs = site.data.jobs | sort | reverse %}
{% assign new_jobs = false %}

{% for job in jobs %}
  {% assign post_date_in_seconds = job.post-date | date: '%s' | plus: 0 %}
{% unless post_date_in_seconds < digest_start_in_seconds and post_date_in_seconds >= lookback_time_in_seconds %}{% continue %}{% endunless %}
  {% assign new_jobs = true %}
  ***{{job.title}}*** <br>
  *{{job.employer}}* <br>
  {%if job.deadline %} Deadline: {{job.deadline}} | {% endif %} [Apply]({{job.link}}) <br>
  {{lookback_time_in_seconds}} : {{post_date_in_seconds}} : {{digest_start_in_seconds}}
{% endfor %}
  
{% unless new_jobs %}*No new job opportunities this week.*{% endunless %}
