## Useful Links

[IAIFI Internal Google Drive](https://drive.google.com/drive/u/1/folders/1KCCp9BpUL_GsvPGiWoJt976X0YkSEVDC){:.button.button--outline-primary.button--pill.button--sm} [How to do IAIFI](https://docs.google.com/document/d/1RjddJR6ER4mlXq438C5RkAIv-ZisUPwibTm52-2o_Yw/edit#heading=h.ayhhxke5ir7t){:.button.button--outline-primary.button--pill.button--sm}  [Twitter](https://twitter.com/iaifi_news){:.button.button--outline-primary.button--pill.button--sm}  [Website](https://iaifi.org){:.button.button--outline-primary.button--pill.button--sm}  [Email](mailto:iaifi@mit.edu){:.button.button--outline-primary.button--pill.button--sm}

