{% assign event = include.event %}
{% assign is_previous = include.is_previous %}

* **{{event.event-name}}**
    * **{{event.start-date-time | date: "%A, %B %e, %Y"}}, {{event.start-date-time | date: "%l:%M%P"}}–{{event.end-date-time | date: "%l:%M%P" | strip}}**
{% if event.event-committee %}    * Organized by the {{event.event-committee}} Committee{% endif %}
{% if event.event-details %}    * {{event.event-details}}{% endif %}
    * Event location details available to IAIFI members only. Email [iaifi@mit.edu](mailto:iaifi@mit.edu) with questions.
