<!-- Getting basic event info -->
{% assign talk = include.talk %}
{% assign target_date = include.target_date %}
{% assign event_date = talk.start-date-time | date: "%Y-%m-%d" %}

{% assign matches_target_day = false %}

<!-- Check if event is on the target day -->
{% if target_date == event_date %}
  {% assign matches_target_day = true %}
{% endif %}

{% assign start_date = talk.start-date-time | date: "%A, %B %e, %Y" %}
{% assign end_date = talk.end-date-time | date: "%A, %B %e, %Y" %}
{% assign start_time = talk.start-date-time | date: "%l:%M%P" %}
{% assign end_time = talk.end-date-time | date: "%l:%M%P" %}

<!-- Determining zoom link-->
{% assign zoom_link = %}
{% if talk.talk-zoom %}
  {% assign zoom_link = talk.talk-zoom %}
{% elsif site.data.talk-categories[talk.type].zoom %}
  {% assign zoom_link = site.data.talk-categories[talk.type].zoom %}
{% endif %}

<!-- Event information - only display if matches target day -->
{% if matches_target_day %}

* {%- if talk.event-name %} **{{talk.event-name}}** {% else %} **{{site.data.talk-categories[talk.type].name}}**{%- endif -%}{%- if talk.speaker-name %}**: <a href="{{talk.speaker-website}}">{{talk.speaker-name}}</a> ({{talk.speaker-affiliation}})**
{%- endif %}
  * **{{ start_date }}, {{ start_time }} – {{ end_time }},** **{{talk.talk-location}}**
{%- if talk.talk-title %}
  * *{{talk.talk-title}}*
{%- endif %}
{%- if talk.talk-abstract %}
  * Abstract: *{{talk.talk-abstract}}*
{%- endif -%}
{%- if talk.event-details %}
  * {{talk.event-details}}
{%- endif -%}
{%- if talk.rsvp-link or zoom_link or talk.calendar-link or talk.more-info-link %}
<br>
  {% if talk.rsvp-link %}[RSVP/Sign Up]({{talk.rsvp-link}}){:.button.button--outline-primary.button--pill.button--sm}{% endif %} {% if zoom_link %}[Join on Zoom]({{zoom_link}}){:.button.button--outline-primary.button--pill.button--sm}{% endif %} {% if talk.calendar-link %} [Add to Calendar]({{talk.calendar-link}}){:.button.button--outline-primary.button--pill.button--sm} {% endif %} {% if talk.more-info-link %}[More Details]({{talk.more-info-link}}){:.button.button--outline-primary.button--pill.button--sm} {% endif %}
{%- endif %}
{% endif %}
